
<div class="container mt-3" >


<h1>All our Flats(3)</h1>


<div class="wrapper">

<% @flats.each do |flat| %>


<div class="card" style="width: 18rem;">
   <div class="card-body">
    <h2> <%= flat.name %></h2>
    <p> <%= flat.address %></p>
    <p> <%= flat.description %></p>
    <p> <i class="fas fa-euro-sign"></i> <%= flat.price_per_night %></p>
    <p> <i class="fas fa-user-friends"></i> <%= flat.number_of_guests %></p>
    <%= link_to 'More Info', flat_path(flat) %>
    <%= link_to 'Edit', edit_flat_path(flat.id) %>
    <%= link_to 'Remove', flat_path(flat), method: :delete %>
    <!-- <a href="#" class="card-link">More info</a> -->
  </div>
</div>

<% end %>

</div>

</div>

